<template lang="pug">
  q-page.flex.q-pa-md.justify-center.content-start
    transition-group#grid.q-my-md(
      tag="div"
      enter-active-class="animated slow delay-1s fadeIn"
      leave-active-class="animated slow fadeOut"
    )
      the-board#board(key="board")
      div.q-px-xs(
        v-for="(card, idx) in selectedCards"
        :key="card.label"
        :id="`spot-${idx}`"
        :class="[{ moon: idx < 7, sun: (idx >= 7) && (idx < 14) }, `df-${card.class}`]"
      ) {{ $t(`cards.${card.label}`) }}

    .q-ma-md
      .q-my-md
        q-btn(color="primary" @click="generate" :disable="isEmptyAnySet") {{ $t('generate') }}
        transition(appear
          enter-active-class="animated fadeIn"
          leave-active-class="animated fadeOut"
        )
          span.q-ml-sm.text-negative(v-if="isEmptyAnySet") Not enough cards!

      div
        .text-h6 {{ $t('module') }}
        q-radio.q-mr-md(v-model="module" :val="MODULE_BASIC" :label="$t('basic')")
        q-radio.q-mr-md(v-model="module" :val="MODULE_GODDESS" :label="$t('goddess')")
        q-radio.q-mr-md(v-model="module" :val="MODULE_TITAN" :label="$t('titan')")

      div
        .text-h6 {{ $t('cardSet') }}
        q-checkbox.q-mr-md(v-model="cardSet[CLASS_INTRO]" @input="changeCardSet(CLASS_INTRO)")
          .df-intro {{ $t('intro') }}
        q-checkbox.q-mr-md(v-model="cardSet[CLASS_BASIC]" @input="changeCardSet(CLASS_BASIC)")
          | {{ $t('basic') }}
        q-checkbox.q-mr-md(v-model="cardSet[CLASS_GODDESS]" @input="changeCardSet(CLASS_GODDESS)")
          .df-goddess {{ $t('goddess') }}
        q-checkbox.q-mr-md(v-model="cardSet[CLASS_TITAN]" @input="changeCardSet(CLASS_TITAN)")
          .df-titan {{ $t('titan') }}
        q-checkbox.q-mr-md(v-model="cardSet[CLASS_PROMO]" @input="changeCardSet(CLASS_PROMO)")
          .df-promo {{ $t('promotional') }}

      q-card(
        flat
        bordered
        style="max-width: 300px"
      )
        q-card-actions(vertical)
          q-btn(
            flat
            align="between"
            @click="expandPreferences = !expandPreferences"
          )
            | {{ $t('preferences') }}
            q-icon.expand-icon(name="expand_more" :class="expandPreferences ? 'expanded' : null")

        q-slide-transition
          div(v-show="expandPreferences")
            q-separator
            q-card-section
              q-tabs(
                v-model="cardTab"
                dense
                inline-label
              )
                q-tab(
                  v-for="(group, idx) in selectableCards"
                  :key="idx"
                  :name="idx"
                  :label="$t(`positions[${idx}]`)"
                )

              q-tab-panels(v-model="cardTab")
                q-tab-panel(
                  v-for="(group, idx) in selectableCards"
                  :key="idx"
                  :name="idx"
                )
                  q-checkbox.q-mr-md(
                    v-for="card in group"
                    :key="card.name"
                    v-model="card.enabled"
                    @input="changeCardSingle"
                    :disable="card.reserved"
                  )
                    div(:class="`df-${card.class}`") {{ $t(`cards.${card.label}`) }}

</template>

<script>
import TheBoard from '../components/TheBoard'
import dfCards from '../assets/df_cards'

const NUM_SLOTS = 15

const MODULE_BASIC = 'basic'
const MODULE_GODDESS = 'goddess'
const MODULE_TITAN = 'titan'

const CLASS_INTRO = 'intro'
const CLASS_BASIC = 'basic'
const CLASS_GODDESS = 'goddess'
const CLASS_TITAN = 'titan'
const CLASS_PROMO = 'promo'
const cardClasses = [ CLASS_INTRO, CLASS_BASIC, CLASS_GODDESS, CLASS_TITAN, CLASS_PROMO ]

function getRandomInt(max) {
  return Math.floor(Math.random() * max);
}

export default {
  name: 'PageIndex',
  components: { TheBoard },
  data() {
    return {
      cards: dfCards.component,
      module: 'basic',
      selectedCards: [],
      reservedPositions: {
        [MODULE_GODDESS]: [],
        [MODULE_TITAN]: []
      },
      cardSet: {
        [CLASS_INTRO]: true,
        [CLASS_BASIC]: true,
        [CLASS_GODDESS]: false,
        [CLASS_TITAN]: false,
        [CLASS_PROMO]: false,
      },
      cardTab: 0,

      MODULE_BASIC, MODULE_GODDESS, MODULE_TITAN,
      CLASS_INTRO, CLASS_BASIC, CLASS_GODDESS, CLASS_TITAN, CLASS_PROMO,

      expandPreferences: false,
    }
  },
  created() {
    this.cards = this.cards.map(card => Object.assign({}, card, {
        enabled: this.cardSet[card.class]
      }))

    this.reservedPositions[MODULE_GODDESS] = this.cards.filter(card => card.class == CLASS_GODDESS && card.reserved)
    .map(card => card.position)
    this.reservedPositions[MODULE_TITAN] = this.cards.filter(card => card.class == CLASS_TITAN && card.reserved)
    .map(card => card.position)
    this.setModuleDefaultCards()
  },
  computed: {
    availableCards() {
      return this.cards.filter(card => card.enabled && (
        this.module === MODULE_BASIC && !card.reserved
        || this.module === MODULE_GODDESS && !this.reservedPositions[MODULE_GODDESS].includes(card.position) && !card.reserved
        || this.module === MODULE_TITAN && !this.reservedPositions[MODULE_TITAN].includes(card.position) && !card.reserved
      ) || this.module === card.class && card.reserved)
      .reduce(function(acc, card){
        if(acc[card.position] == undefined) {
          acc[card.position] = [card];
        } else {
          acc[card.position].push(card);
        }
        return acc;
      }, Array(NUM_SLOTS))
    },
    isEmptyAnySet() {
      return this.availableCards.includes(undefined) || this.availableCards.some(set => set.length <= 0)
    },
    selectableCards() {
      return this.cards.filter(card => (this.module === MODULE_BASIC && !card.reserved
          || this.module === MODULE_GODDESS && !this.reservedPositions[MODULE_GODDESS].includes(card.position) && !card.reserved
          || this.module === MODULE_TITAN && !this.reservedPositions[MODULE_TITAN].includes(card.position) && !card.reserved
        ) || this.module === card.class && card.reserved
      ).reduce((acc, card) => {
        if(acc[card.position] == undefined) {
          acc[card.position] = [card];
        } else {
          acc[card.position].push(card);
        }
        return acc;
      }, Array(NUM_SLOTS))
    }
  },
  watch: {
    module(newModule) {
      this.setModuleDefaultCards()
      if(newModule == MODULE_GODDESS) {
        this.cardSet[CLASS_GODDESS] = true
        this.changeCardSet(CLASS_GODDESS)
      } else if(newModule == MODULE_TITAN) {
        this.cardSet[CLASS_TITAN] = true
        this.changeCardSet(CLASS_TITAN)
      }
    },
  },
  methods: {
    setModuleDefaultCards() {
      this.selectedCards = this.cards.filter(card => card.class == (this.module == 'basic' ? 'intro' : this.module))
    },
    generate() {
      this.selectedCards = this.availableCards.map(posCards => posCards[getRandomInt(posCards.length)])
    },
    changeCardSet(clazz) {
      if(clazz) {
        this.cards.filter(card => card.class == clazz)
        .forEach(card => card.enabled = this.module == card.class && card.reserved || this.cardSet[clazz])
        if(this.module == MODULE_GODDESS || this.module == MODULE_TITAN) {
          this.changeCardSingle()
        }
      } else {
        this.cards.forEach(card => card.enabled = this.cardSet[card.class])
      }
    },
    changeCardSingle() {
      cardClasses.forEach(clazz => {
        const targetCards = this.cards.filter(card => card.class == clazz)
        this.cardSet[clazz] = targetCards.every(card => card.enabled) || targetCards.some(card => card.enabled) && 'partial'
      })
    },
  }
}
</script>
<style lang="stylus">
#grid
  display grid
  grid-template-columns 150px 100px 150px
  grid-auto-rows 20px
  height 270px

#board
  grid-area 2 / 2 / span 12

#spot-0, #spot-7
  grid-row-start 13

#spot-1, #spot-8
  grid-row-start 12

#spot-2, #spot-9
  grid-row-start 10

#spot-3, #spot-10
  grid-row-start 9

#spot-4, #spot-11
  grid-row-start 7

#spot-5, #spot-12
  grid-row-start 6

#spot-6, #spot-13
  grid-row-start 4

#spot-14
  grid-area 1 / 1 / auto / 4
  text-align center

.moon
  text-align: right
  grid-column-start 1

.sun
  text-align: left
  grid-column-start 3

.df-intro
  &::before
    color #33CCFF
    content '●'

.df-goddess
  &::before
    color #D2B134
    content '◆'

.df-titan
  &::before
    color #006699
    content '▼'

.df-promo
  &::before
    color #FFCC33
    content '★'

.q-card, .q-tab-panels
  background transparent

.expand-icon
  transition transform .3s

.expanded
  transform rotate(180deg)
</style>
