<template lang="pug">
  q-item(tag="label" ripple)
    q-item-section(avatar)
      q-checkbox(:value="value" v-on="inputListeners")
    q-item-section
      q-item-label(:class="labelClass") {{ label }}
</template>
<script>
export default {
  name: 'CardSetCheckbox',
  model: {
    prop: 'value',
    event: 'input'
  },
  props: {
    value: Boolean,
    labelClass: String,
    label: String,
  },
  computed: {
    inputListeners: function () {
      var vm = this
      return Object.assign({},
        this.$listeners,
        {
          input: function (value) {
            vm.$emit('input', value)
          }
        }
      )
    }
  }
}
</script>
