<template lang="pug">
  svg.board(
    :viewBox="viewBox"
    :height="height"
  )
    path(
      fill="none"
      stroke="black"
      :d="boardPath"
    )
    g(
      v-for="cost in costs"
      :key="cost.positionIndex"
    )
      image(v-for="image in cost.images" v-bind="image")
      text(v-bind="cost.text") {{ cost.str }}

</template>
<script>
const costStrList = ["1", "1", "2", "3", "4", "5", "6", "1", "1", "2", "3", "4", "5", "6", "5+5"]
const boardWidth = 100
const boardHeight = 250

class Label {
  constructor(str, positionIndex) {
    this.str=str;
    this.positionIndex=positionIndex;
    // this.textAttribute = {}
    // this.imageAttribute = {}
    ({
      text: this.text,
      images: this.images
    } = this.calcAttributes())
  }

  calcAttributes() {
    let x=0
    let y=0
    let modPos=this.positionIndex%7
    // let font="20px Luckiest Guy"
    let textAnchor="middle"
    const fontSize = 20
    const fill="white"
    const stroke="black"

    let images = []

    if(0<=this.positionIndex&&this.positionIndex<7) {
      x=-50+Label.offset
      y=240-20*(modPos+Math.floor(modPos/2))
      images.push({
        x: x-3,
        y: y-20,
        href: 'DF_ICONE-EL.png',
        width: 20,
        height: 20
      })
    } else if(this.positionIndex<14) {
      x=50-Label.offset
      y=240-20*(modPos+Math.floor(modPos/2))
      images.push({
        x: x-15,
        y: y-20,
        href: 'DF_ICONE-ES.png',
        width: 20,
        height: 20
      })
    } else if(this.positionIndex==14) {
      x=0
      y=25
      images.push({
        x: -25,
        y: y-18,
        href: 'DF_ICONE-EL.png',
        width: 20,
        height: 20
      })
      images.push({
        x: 10,
        y: y-18,
        href: 'DF_ICONE-ES.png',
        width: 20,
        height: 20
      })
    }

    return {
      text: {
        x, y, fill, stroke,
        'font-family': "'Luckiest Guy', cursive",
        'font-size': fontSize,
        'text-anchor': textAnchor,
      },
      images
    }
  }
}
Label.offset = 10;

export default {
  name: 'TheBoard',
  data() {
    return {
      width: boardWidth,
      height: boardHeight,
      costs: costStrList.map((e, i) => new Label(e, i))
    }
  },
  computed: {
    viewBox() {
      return `-50 0 ${this.width} ${this.height}`
    },
    boardPath() {
      let r = this.width / 2
      let h = this.height
      return `M ${-r},${h}
       V ${r}
       A ${r} ${r} 0 1 1 ${r} ${r}
       V ${h}
       Z`
    }
  },
}
</script>
