<template lang="pug">
  q-list(separator)
    q-item(
      v-for="op in langOptions"
      :key="op.value"
      clickable
      :to="{ path: '/', query: { lang: op.value } }"
      :class="op.value == lang ? 'text-bold' : null"
    )
      q-item-section(avatar)
        q-avatar(v-if="op.value == lang" size="md") ✔
      q-item-section {{ op.label }}

</template>
<script>
export default {
  name: "Translates",
  data() {
    return {
      langOptions: [
        { value: "ja-jp", label: "日本語" },
        { value: "en-us", label: "English" }
      ]
    }
  },
  computed: {
    lang: {
      get() {
        return this.$i18n.locale
      },
    }
  }
}
</script>
<style lang="stylus" scoped>
.q-item
  color $primary  
</style>
