<template lang="pug">
  q-layout(view="lHh lpr lFf")
    q-header(elevated)
      q-toolbar.bg-custom.text-primary
        q-btn(
          flat
          dense
          round
          icon="home"
          aria-label="Back"
          type="a"
          href="//razaniya.net"
        )

        q-toolbar-title Dice Forge Randomizer

        q-btn(
          flat
          dense
          round
          icon="menu"
          @click="right = !right"
        )

    q-drawer(v-model="right" side="right" bordered content-class="bg-custom")
      q-list
        q-item
          q-item-section(avatar)
            q-icon(name="translate" color="primary")
          q-item-section
            | Language

        q-item(:inset-level="1")
          q-item-section
            Translates

        q-item(
          clickable
          tag="a"
          href="https://bitbucket.org/shama265/dice-forge-randomizer"
          target="_blank"
        )
          q-item-section(avatar)
            q-icon(name="fab fa-bitbucket" color="primary")
          q-item-section
            q-item-label Repository
              q-icon(name="open_in_new")
            q-item-label(caption)
              | bitbucket.org

    q-page-container.bg-custom
      router-view
</template>

<script>
import Translates from 'components/Translates'

export default {
  name: 'MainLayout',
  components: {
    Translates
  },
  data() {
    return {
      right: false
    }
  },
  beforeRouteEnter(to, from, next) {
    next(vm => vm.changeLocale(to.query.lang))
  },
  beforeRouteUpdate(to, from, next) {
    this.changeLocale(to.query.lang)
    next()
  },
  methods: {
    changeLocale(lang){
      if(lang) this.$i18n.locale = lang
    }
  }
}
</script>
<style lang="stylus">
.bg-custom
  background-color $background
</style>
